copy.jpg
file_handling.json
file_handling.txt
wp.mickey.jpg
file_handling.pkl
excel
power_bi
task_1.ipynb
task_2.ipynb
task_3.ipynb
task_4.ipynb
data.pkl
tools_numpy .ipynb
my_array.csv
my_array.npy 
my_arrays.npz
dsa.ipynb
big_O.ipynb
Basic_Data_Cleaning.ipynb
